/* Raleway 폰트 추가 */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

body {
    font-family: 'Raleway', sans-serif;
}
.container,
.name-button,
.description,
.list,
.bottom-box {
    /* 나머지 스타일 속성들을 그대로 유지합니다. */
}

main {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.left-side {
    width: 30%;
    background-color: lightgray;
    padding: 20px;
}

.right-side {
    flex: 1;
    /* Section 2 비율 7 */
    background-color: gray;
    padding: 20px;
    /* 수정된 비율에 맞게 조정 */
    padding-top: 80px;
    height: 80%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
    /* 여백 추가 */
}

.logo {
    position: absolute;
    top: 20;
    left: 50px;
    padding: 10px;
    /*background-color: #333;*/
    color: #939393;
}

.name-button {
    margin-left: 180px;
    padding: 10px 20px;
    color: #939393;
    border: none;
    cursor: pointer;
}

.description {
    margin-top: 50px;
    width: 300px;
    font-size: 14px;
    line-height: 1.5;
    margin-left: 30px;
}

.list {
    position: relative;
    margin-top: 35px;
    list-style-type: disc;
}

.bottom-section {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}

.bottom-box {
    flex: 1;
    padding: 10px;
    background-color: lightgray;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.img-box {
    width: 51.3%;
    padding: 10px;
    background-color: lightgray;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
}

.time-box {
    padding: 10px;
    background-color: lightgray;
    text-align: left;
    margin-top: 10px;
    margin-left: 50px;
    width: 20%;
    text-align: right;
}

.bottom-box:nth-child(3) {
    margin-top: 20px;
}

/* 버튼 스타일 */
.instagram-button {
    display: center;
    padding: 5px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60%;
    background: #000;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    width: 118px;
    margin: auto;

}

.instagram-button:hover {
    background: #147388;
    /* 마우스 오버 시 배경색 변경 */
}

.list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding-left: 40px;
    height: 30px;
    /* 항목 사이 여백 조절 (선택 사항) */
}

.list-item span {
    font-size: 16px;
    /* 텍스트 크기 조절 (선택 사항) */
    color: #000;
    /* 텍스트 색상 조절 (선택 사항) */
}

.flex-row {
    display: flex;
    justify-content: space-between;
}

.spin {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    transition: top 0.3s ease;
}
.spin-bottom {
    vertical-align: middle;
    margin-left: 10px;
    width: 75px;
    height: auto;
    margin: auto;
}
.spin-animate {
    animation: rotateZ 2s linear infinite;
}

@keyframes rotateZ {
	0% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(360deg);
	}
}

.sticky {
    position: sticky;
    top: 20px;
}

